@model gatewayfinal.Models.AccountUser

@{
    ViewBag.Title = "Message";
}

<h2>Your data is successfully submitted.</h2>

<p>
    @Html.ActionLink("Login", "Login") -
    @Html.ActionLink("Sign up", "Index")
</p>
